@charset "utf-8";
/* CSS Document */
   .scale {
    transition: 1s; /* Время эффекта */
   }
   .scale:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
   }
.cent{
	display:block;
	margin:auto;
	margin-top: 25px
}

.frog p{
	text-align:center;
}
.frog{
	max-width: 1000px;
}

